.outside_modal {
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
}

.animal_modal {
    /* background-color: rgb(204, 255, 0); */
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 24vw;
    margin-right: 24vw;
    margin-top: 10vh;
}
@media (max-width: 900px) {
    .animal_modal {
        /* background-color: aqua; */
        width: 70%;
        margin-left: 13vw;
        margin-right: 13vw;
        margin-top: 13vh;
    }
}

@media (max-width: 400px) {
    .animal_modal {
        /* background-color: rgb(0, 21, 255); */
        width: 90%;
        margin-left: 8vw;
        margin-right: 8vw;
        margin-top: 10vh;
    }
}

.custom-container {
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (max-width: 460px) {
    .custom-container {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}
