.container {
    display: flex;
    justify-content: center;
}

.modal-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    max-height: 90vh;
}
