.containerApplications {
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: start;
}

.containerApplicationsForPages {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: start;
}
